<style>

    .album-info {
        display: flex;
        align-items: center;
    }

    .image-container {
        margin-left: 50px;
        margin-right: 20px;
    }

    .album-text {
        margin-bottom: 10px;
    }
    
</style>

{% assign sorted_albums = site.data.albums.Albums | sort: "Year" %}
{% for album in sorted_albums %}

  <div class="album-info">
      <div class="image-container">
          <img src="{{ site.baseurl }}/assets/img/albums/{{ album.Album_Picture }}" alt="{{ album.Album }}" width="50" height="50">
      </div>
      <h4 class="album-text">
        <a href="{{ site.baseurl }}/albums/{{ album.Album_Slug }}">{{ album.Album }} ({{ album.Year }})</a>
      </h4>
  </div>
  <br/>

{% endfor %}