<style>

    .album-info {
        display: flex;
        align-items: center;
        width:80%;
        margin-left:10%;
        margin-right:10%;
        margin-bottom: 10px;
    }

    .album-image {
        margin-left: 16%;
        margin-right: 20px;
        flex: 0 0 50px;
    }

    .album-image img {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .album-text {
        margin-bottom: 0px;
        min-width: 0;
    }

    @media (max-width: 480px) {
        .album-info {
            width: calc(100% - 32px);
            margin-left: auto;
            margin-right: auto;
        }

        .album-image {
            margin-left: 0;
            margin-right: 14px;
            flex-basis: 56px;
        }

        .album-image img {
            width: 56px;
            height: 56px;
        }
    }

</style>

{% assign sorted_albums = site.data.albums.Albums | sort: "Year" %}
{% for album in sorted_albums %}

<div class="album-info">
    <div class="album-image">
        <a href="{{ site.baseurl }}/albums/{{ album.Album_Slug }}/">
            <img src="{{ site.baseurl }}/assets/img/albums/{{ album.Album_Picture }}" alt="{{ album.Album }}">
        </a>
    </div>
    <span class="album-text">
        <a href="{{ site.baseurl }}/albums/{{ album.Album_Slug }}/">
            {{ album.Album }} ({{ album.Year }})
        </a>
    </span>
</div>

{% endfor %}
