<!-- File input for user to select the .mp3 file -->
<input type="file" id="fileInput" accept="audio/mp3" webkitdirectory multiple>
<br>
<audio id="audioPlayer" controls></audio>

<script>
  // Define a variable for the start time, allowing it to be manipulated

  const fileInput = document.getElementById('fileInput');
  const audio = document.getElementById('audioPlayer');
  
  // Global variable to store event.target for later use
  let storedFileTarget;
  
  // Create an empty object to store the file name to URL mapping
  const fileMap = {};
  
  fileInput.addEventListener('change', function(event) {
    // Store event.target globally
    storedFileTarget = event.target;
    const files = storedFileTarget.files;
    for (const file of files) {
      const url = URL.createObjectURL(file);
      // Store the mapping of file.name to its URL
      fileMap[file.webkitRelativePath] = url;
    }
    // Log the complete fileMap
    console.log(fileMap);

    // Determine the matching URL and play the file
    const matchedAlbumYear = "{{ matched_album_year }}";
    const matchedAlbumTitle = "{{ matched_album_title }}";
    const trackTitleDetail = "{{ track_title_detail }}";
    const relevantUrl = `LPC USB/${matchedAlbumYear} - ${matchedAlbumTitle}/${trackTitleDetail}.mp3`;
    console.log('Relevant URL: ' + relevantUrl);
    const matchingUrl = fileMap[relevantUrl];
    audio.src = matchingUrl;

    // Wait for metadata to be loaded before seeking.
    audio.addEventListener('loadedmetadata', function() {
         // audio.play();
       }, { once: true });

  });
  
  // Later use: you can now access storedFileTarget to re-upload or access the files
  // e.g., storedFileTarget.files
  // or trigger storedFileTarget.click() to re-open the file picker.
</script>