<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="/assets/js/search.js"></script>
<script type="javascript">
  document.getElementById('search_result').innerHTML = idx.search("bright");
</script>

<div id="status"><img src="/assets/img/loading.gif" id="statusImage" width="100" height="75" /> Data is loading...
  <script>
    var intervalId = setInterval(function() {
      if (dataLoaded) {
        clearInterval(intervalId);
        console.log("Data has been loaded.");
        document.getElementById('status').innerHTML = "<img src=\"/assets/img/completed.png\" id=\"statusImage\" width=\"25\" height=\"25\" />";
        document.getElementById('status').innerHTML += " Data has been loaded!";
      }
    }, 100); // Check every 100ms
  </script>
</div>