{% include load-search.html %}

<div id="status">
  <img src="{{ site.baseurl }}/assets/img/loading.gif" id="statusImage" width="25" height="25" /> 
  <script>
    var intervalId = setInterval(function() {
      if (dataLoaded) {
        clearInterval(intervalId);
        // console.log("Data has been loaded!");
        document.getElementById('status').innerHTML = "<img src=\"{{ site.baseurl }}/assets/img/completed.png\" id=\"statusImage\" width=\"25\" height=\"25\" />";
      }
    }, 100); // Check every 100ms
  </script>
</div>