---
layout: default
---

{% include variables.liquid %}
{% include album-header.html %}

<!-- Display an album with its tracks -->
<ul style="list-style-type: none;"> 
{% for track in all_tracks_on_album %}  
    <li style="list-style-type: none;">
      <strong>{{ track.Track_Number }}: </strong>
      {% if track %}
        <a href="/tracks/{{ track.Track_Slug }}">{{ track.Track_Title }}</a>
      {% else %}
        {{ track.Track_Title }} (track not found)
      {% endif %}
    </li>
{% endfor %}
</ul>
