---
layout: default
---

<!-- This correctly pulls a specific album and track using tracks.yml -->
{% assign all_albums = site.data.albums.Albums %}
{% assign matched_album = all_albums | where_exp: "item", "item.Album == page.album_title" %}
{% for album in matched_album %}
  {% assign matched_album_title = album.Album %}
  {% assign matched_album_image = album.Album_Picture %}
  {% assign all_tracks_on_album = album.Tracks %}
  {% assign matched_album_year = album.Year %}
{% endfor %}
{% assign matched_track = all_tracks_on_album | where_exp: "item", "item.Track_Title == page.track_title" %}
{% for track_details in matched_track %}
  {% assign track_title_detail = track_details.Track_Title %}
  {% assign track_number_detail = track_details.Track_Number %}
  {% assign track_speakers_detail = track_details.Speakers_Adjusted %}
  {% assign track_slug_detail = track_details.Track_Slug %}
  {% assign usb_filename_detail = track_details.USB_Filename %}
  {% assign whisper_model_detail = track_details.Whisper_Model %}
{% endfor %}

{% assign track_slug = page.track_title | slugify %}
{% assign track = site.data[track_slug] %}

<div class="album-info" style="display: flex; align-items: center;">
  <h2 style="margin-bottom: 10px;">{{ matched_album_title }} ({{ matched_album_year }})</h2>
  <div class="image-container" style="margin-left: 50px;">
      <img src="/assets/img/{{ matched_album_image }}" alt="{{ matched_album_title }}" width="150" height="150">
  </div>
</div>

<style>
  .album-info {
      display: flex;
      align-items: center;
  }

  .image-container {
      margin-right: 20px; /* Adds some space between the image and text for better readability */
  }
</style>

<h3 style="text-align: center; margin-top: 20px;">Track {{ page.track_number }}: {{ page.track_title }}</h3>
<h5 style="text-align: center; margin-top: -10px; margin-bottom: 30px;">
  {% if whisper_model_detail %}
    Model used: {{ whisper_model_detail }}
  {% endif %}
</h5>
<h5 style="text-align: center; margin-top: -30px; margin-bottom: 30px;">
  {% if track_speakers_detail %}
    Speakers adjusted? {{ track_speakers_detail }}
  {% endif %}
</h5>


<!-- This code is for an audio player -->
<!-- <input type="file" id="usb" webkitdirectory directory/>
<script>
  const usb = document.getElementById('usb');
  if (usb.webkitdirectory) {
    // The input element supports selecting directories, so we can add an event listener to it
    usb.addEventListener('change', (event) => {
      const files = event.target.files;
      for (let i = 0; i < files.length; i++) {
        console.log(files[i].webkitRelativePath); // Log the name of each file in the selected directory
      }
    });
  } else {
    // The input element does not support selecting directories, so we can't add an event listener to it
  }
</script> -->

<!-- 
{% if usb_directory %}
  {% if usb_filename %}
    {% include embed-audio.html src="/assets/usb/{{usb_directory}}/{{usb_filename}}" %}
  {% endif %}
{% endif %}
-->

<ul style="list-style-type: none;">
{% for trackText in track %}
  <li>
    <strong>{{ trackText.Speaker }}:</strong> {{ trackText.Text }}
    <br>
  </li>
{% endfor %}
</ul>