---
layout: default
---

{% assign matching_album = site.data.albums.Albums | where_exp: "Album", "Tracks" %}
{% assign matching_track = matching_album.Tracks | where: "Track_Title", page.title | first %}

{% assign track_slug = page.title | slugify %}
{% assign track = site.data[track_slug] %}

<p><img src="/assets/png/{{ album.Album_Picture }}" alt="{{ album.Album }}" width="150" height="150"></p>

<h3>Track: {{ page.title }}</h3>
<ul>
  {% for trackText in track %}
    <li>
      <strong>{{ trackText.Speaker }}:</strong> {{ trackText.Text }}
      <br>
    </li>
  {% endfor %}
</ul>