/* Make the search input boxes bigger */
#subtitles-search-input {
	width: 300px;
	font-size: 0.8em;
	padding: 8px 12px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#speakers-search-input {
	width: 300px;
	font-size: 0.8em;
	padding: 8px 12px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#aliases-search-input {
	width: 300px;
	font-size: 0.8em;
	padding: 8px 12px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#establishments-search-input {
	width: 300px;
	font-size: 0.8em;
	padding: 8px 12px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}